@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --red: tomato;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --balck2: #999;

  --primary: var(--red);
  --secondary: var(--red);
  --dark: var(--black1);
  --light-grey: var(--grey);
  --dark-grey: var(--balck2);

  --navigation-drawer-width: 300px;
  --navigation-drawer-active-width: 80px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: var(--navigation-drawer-width);
  height: 100%;
  background: var(--primary);
  border-left: 10px solid var(--primary);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: var(--navigation-drawer-active-width);
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-radius: 30px 0px 0px 30px;
}
.navigation ul li.active,
.navigation ul li:hover {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none; /* remove the hover effect on the first list item */
}
.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li.active a,
.navigation ul li:hover a {
  color: var(--primary);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  /* box-shadow: x y shadow-blur shadow-spread color; */
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  /* box-shadow: x y shadow-blur shadow-spread color; */
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* main */
.main {
  position: absolute;
  width: calc(100% - var(--navigation-drawer-width));
  left: var(--navigation-drawer-width);
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - var(--navigation-drawer-active-width));
  left: var(--navigation-drawer-active-width);
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid var(--dark-grey);
}
.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--primary);
}
.cardBox .card .cardName {
  color: var(--dark-grey);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBox {
  font-size: 3.5em;
  color: var(--dark-grey);
}
.cardBox .card:hover {
  background: var(--primary);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
  color: var(--white);
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--primary);
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--primary);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: var(--dark);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--primary);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.status {
  padding: 2px 4px;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: var(--primary);
}
.status.delivered {
  background: #8de02c;
}
.status.pending {
  background: #ffd700;
}
.status.return {
  background: #f00;
}
.status.inprogress {
  background: #1795ce;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.recentCustomers .imgBox img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td:first-child {
  width: 40px;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--dark-grey);
}
.recentCustomers table tr:hover {
  background: var(--primary);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* responsive design */
/* medium (md) */
@media (max-width: 992px) {
  .navigation {
    left: calc(0px - var(--navigation-drawer-width));
  }
  .navigation.active {
    width: var(--navigation-drawer-width);
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: var(--navigation-drawer-width);
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small (sm) */
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status {
    white-space: nowrap;
  }
}

/* extra small (xs) */
@media (max-width: 480px) {
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  /* show the toggle even when the navigation  */
  /* drawer width equals 100vw */
  .toggle {
    z-index: 1001;
  }
  .main.active .toggle {
    position: fixed;
    top: 0;
    left: initial;
    color: var(--white);
  }
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
}
